.App {
  text-align: center;
}

.user-name {
  margin-left: 10px;
}

.user-form {
  padding: 15px;
  border: 1px solid;
  margin-bottom: 24px;
}

.user-form input {
  margin-right: 10px;
}

li.user-list-item {
  margin-bottom: 10px;
}

li.user-list-item span {
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.week1 {
  padding: 20px;
}

.author-fixed {
  position: fixed;
  top: 20px;
}

.c-btn {
  padding: 24px 60px;
  color: black;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  font-size: 16px !important;
}

.sub-content {
  margin-top: 20px !important;
}

.modal-transition-enter,
.modal-transition-exit {
  transition: transform 300ms;
}

.modal-transition-enter {
  transform: scale(0.1, 0.1);
}

.modal-transition-enter.modal-transition-enter-active {
  transform: scale(1, 1);
}

.modal-transition-exit {
  transform: scale(1, 1);
}

.modal-transition-exit-active {
  transform: scale(0.1, 0.1);
}
